.hero {
    height: 90vh;
    background-image: linear-gradient(rgba(80, 80, 80, 0.65),
                        rgba(80, 80, 80, 0.65)),url("../imagenes/fondo-PatioInterno.jpg");
    background-size: cover;
    background-position: center;
    color: #f5e6cc;
}

.boton-hero {
    background-color: #D8C3A5;
    color: #24352F;
    border: none;
    padding: 12px 24px;
    font-weight: bold;
}

.boton-hero:hover {
    background-color: #E6D3B3;
}

.hero h1,
.hero p {
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.card {
    width: 18rem; 
}

.card-title {
    min-height: 70px;
}

.card img {
    height: 350px;
}


nav{
    background-color: #e1d9cf ;
}

.libro {
    background-color: #f8f5ef;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.libro img {
    max-height: 450px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0,0,0,0.7);
}

.info-libro {
    padding: 35px;
    border-radius: 18px;
    border: 1px solid rgba(0,0,0,0.5);
}

.buscador {
    background-color: #f8f5ef;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    max-width: 900px;
    margin: 40px auto;
}

